openapi: 3.1.0
info:
  title: Spill Edge API
  version: 0.1.0
  description: API schema for question metadata and anonymous feedback ingestion.
servers:
  - url: https://spill.cards
paths:
  /api/question-map:
    get:
      summary: Fetch question metadata by canonical ID or return the full deployed question map.
      parameters:
        - in: query
          name: cid
          required: false
          schema:
            type: string
          description: Canonical question ID (`{question-id}-{hash}`).
      responses:
        '200':
          description: Question map payload
          headers:
            X-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      count:
                        type: integer
                      questions:
                        type: array
                        items:
                          $ref: '#/components/schemas/QuestionMapEntry'
                  - type: object
                    properties:
                      question:
                        anyOf:
                          - $ref: '#/components/schemas/QuestionMapEntry'
                          - type: 'null'
  /api/feedback:
    post:
      summary: Record an anonymous question interaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackPayload'
      responses:
        '200':
          description: Feedback accepted
          headers:
            X-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          description: Validation error
        '405':
          description: Method not allowed
        '500':
          description: Upstream KV write failure
components:
  schemas:
    QuestionMapEntry:
      type: object
      required: [cid, id, text, mode, depth, category]
      properties:
        cid:
          type: string
        id:
          type: string
        text:
          type: string
        mode:
          type: string
          enum: [prompt, wildcard]
        depth:
          type: string
          enum: [light, honest, deep]
        category:
          type: string
          enum:
            - identity
            - prayer
            - scripture
            - church
            - mission
            - struggle
            - gratitude
            - relationship
    FeedbackPayload:
      type: object
      required: [cid, eventType, context, depth, mode]
      properties:
        cid:
          type: string
        eventType:
          type: string
          enum:
            - question_viewed
            - question_upvoted
            - question_downvoted
            - question_copied
            - question_shared
            - wildcard_opened
            - new_question_requested
        context:
          type: array
          items:
            type: string
            enum: [fellowship, household, dating, engaged, marriage, youth]
        depth:
          type: string
          enum: [light, honest, deep]
        mode:
          type: string
          enum: [prompt, wildcard]
        counterDeltas:
          type: object
          additionalProperties:
            type: integer
